
.header h1{
    text-shadow: 4px 2px 0px #29BDCE;
    letter-spacing: 0.3em;
    font-size: 45px;
/* margin-left:0.3em; */
}
.header  a {
color:#4d8eff;

}
.header p{
    width:9em;
    color:#4d8eff;
    font-family: 'Satisfy', cursive;
    letter-spacing: 0.3em;
    font-size: 13px;
    position: absolute;
    top:9%;
    left:18%;
    text-shadow: 1px 0px 0px #29BDCE;

}


.nav {
    display:flex;
    font-size: 18px;
    align-items: center;
    padding-top:0.8em;

    
    
}
.header{
    display:flex;
    margin-top:1em;
    color:#369;
    
}



.nav ul{
    display:flex;
    margin-left: 17em;
    

}

.nav li{
    display:flex;
    flex:0 0 8em;
    font-weight: 600;
    
    
    
}

.nav a{
    display:block;
    color:#4d8eff;
    padding:0.5em 1em;
}

a{
    text-decoration: none;
}

nav a:hover{
    background:#4d8eff;
    transition: 0.1s ease-in-out;
    color:#fff;
    padding:0.7em 1.2em;
    border:1px transparent #4d8eff;
    border-radius: 5px;
}