
.gallery2{
    width:80rem;
    background:#FDD7ED;
    margin:0 auto;
    max-width: 100%;
    padding:4em 4em;
    height: auto;
    margin-top:2em;
    display: grid;
    grid-template-columns:3fr 3fr 3fr  ;
    grid-template-rows: 300px;
    grid-gap: 50px;  
    align-content: space-between;


}

.gallery2 img{
    border-radius: 2px;
    border:2px solid #000000;
    width:500px;
    max-width: 100%;
    height: auto;
}

.gallery2 img:hover{
    
    transition-delay: 0.1s;
    transition: 0.5s;
    opacity: 0.8;
    box-shadow: inset 3px 4px 300px 0px rgba(0,0,0,0.75);
}
