<!DOCTYPE html>
<html lang="en">
<head>
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
</head>
<body>
    <div class="board">

        <header class="header">
            <h1>Radisson</h1>
            
            
            
            
            <p>HOTEL & SPA</p>
        <nav class="nav">
            <ul>
        <li><a href="../main.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="Contact.html">Contact</a></li>
        </ul>
        </nav>
        </header>
        <section class="welcome">
            <div class="welcome1">
        <p>Welcome to</p>
        <h1>Radisson</h1>
        <a href="about.html">Learn more</a>
        </div>
        
</body>
</html>