<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <title>{{site.title}}</title>
</head>
<body>
    <div class="board">

        <header class="header">
            <a href="{{ site.baseurl }}/" >{{ site.title }}</a>
            <a href="#"><h1>Radisson</h1></a>
            <p>HOTEL & SPA</p>

        <nav class="nav">
            <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="Contact.html">Contact</a></li>
        </ul>
        </nav>
        </header>
        <section class="welcome">
            <div class="welcome1">
        <p>Welcome to</p>
        <h1>Radisson</h1>
        <a href="about.html">Learn more</a>
        </div>
        
</body>
</html>