.about{
    width:87rem;
    max-width: 100%;
    height: auto;
    margin:0 auto;
    position: absolute;
    top:23%;
}

.main1{
    line-height: 1.8;
    margin-left:5em;
    

    
}


.main1 ul{
    
     max-width:35em; 
    
}
.main1 h3{
    color:red;
    font-size: 22px;
    letter-spacing: 0.05em;
}

.main1 li{
    margin-top:2.5em; 
    font-size: 18px;
    font-weight: 500;   
}



.pic4 img{
    position: absolute;
    border:2px solid #FFF;
    height: auto;
    max-width:25em;
    top:5%;
    right:12%;
    
}

.woman{
    /* max-width: 70em;
    /* width:100%; */
   
    position: absolute;
    left:55%;
    top:25%
} 

.woman img{
    max-width:35em;
    /* width:100%; */
    height: auto;
    position: relative;
    border:2px solid #FFF;

}

.article1 h2{
    text-align: center;
     padding-top:5em; 
    margin-right:11em; 
    /* line-height: 2; */
}

.article1 h2:after{
    
    content: '';
    position: relative;
    width:5em;
    margin-top:0.7em;
    /* padding-top:0.7em; */
    display: block;
    left:50%;
    transform:translate(-50%,-50%);
    height: 3px;
    background-color:red;
 
}


.article1 p{
    max-width:55em;
    padding-top:0.5em;
    line-height: 2.4;
}


.article1 {
    letter-spacing: 0.1em;
    // padding-top:4em;
text-align: center;
margin-bottom: 10em;
margin-left: 15em;
}

.contact1{
    padding-top:6em;
    margin-top:10em;
    margin-left:5em;
}
.contact1 h3{
    color:red;
}

.contact1 li{
    list-style: none outside;
    margin-top:2em;
}



.hotel2 {
max-width: 42em;
width:100%;
bottom:15%;
/* left:5%; */
position: absolute;
left:45%;
top:80%


}

.hotel2 img{
    max-width: 50em;
    width:100%;
    max-width:45em;
    height: auto;
     position: relative;
    left:8%;
    top:0% 
   
    
}

.pic5{
    padding:0.5em;
}

.footer2{
    
    background:var(--main-text-color);
    color:#fff;
      position: absolute;
    top:297%;  
    width:89.3em;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 17px;
    padding:1Sem;
    width:89em;
    margin:0 auto;
    font-weight: 600;
}

