
.blog{
    width:87rem;
    margin:0 auto;
    line-height: 1.5;
    position: absolute;
    top:12%;
    left:7%;
    padding-top:1em;
    padding-bottom: 1.5em;





.posts{
    padding-top:4em;

}

.posts article{
    padding-top:2em;
}


& ol,ul{
    padding:2em;
}

& h3,h2,h4,p{ 
    padding-top:1.5em;
}
h4{
    font-size:var(--font-size-2);
}

h5{
  font-size: var( --font-size-3)
}

h2 {
    font-size:var( --font-size-4)
}

.author{
    background-image: linear-gradient(to right top, #88c5a0, #94c39b, #9fc098, #a8bd96, #afbb96);
    max-width:55em;
    padding:1em;
    margin-left:7em;
    margin-bottom: 5em;
    margin-top:2em;
    display:flex;
    

}



.author1  h5{
margin-left:1.2em;
}

.author1 h4,p{
    margin-left:1em
}
}

.footer3{
    
    background:#4d8eff;
    color:#fff;
    position: absolute;
    top:420%;  
    padding:1em;
    width:89.3em;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 17px;
    
    
    margin:0 auto;
    font-weight: 600;
}
