.contacts2{
    max-width: 80rem;
    margin:0 auto;
    height: 80rem;

    /* padding-top:7em; */

}

.contacts3 p:after{

    content: '';
    position: relative;
    width:20em;
    margin-top:1em;
    /* padding-top:0.7em; */
    display: block;
    left:10%;
    transform:translate(-50%,-50%);
    background-color:red;
    height: 2px;
    
 
}

.contacts3{
    position: absolute;
    top:15%;
    left:10%;
}

.infos{
    padding-top:0.5em;
}

.infos li{
    list-style: none outside;
}

.talking{
    
    max-width: 70em;
     width:100%; 
    height: 100%;
    position: absolute;
    left:40%;
    top:30%;
}

.talking img{
    
    max-width:50em;
    /* width:100%; */
    position: relative;
    border:2px solid #FFF;

}

form{
    text-align: center;
    padding-top:5em;
    margin:1em;
    
}


label{
    font-size:20px;
    padding-top:2em;
}

#email{
    padding:0.7em 21.2em;
}

#Phone{
    padding:0.7em 21.5em; 

}


input{
    padding:0.5em 20em;
    margin-top:2em;
    padding-top: 2em;

}

select{
    text-align: start;
    padding:0.5em 1em;
    font-size:17px;
    margin-top:2em;

}

#submit{
    padding:0.5em 4em;
}

.footer5{
    
    background:#4d8eff;
    color:#fff;
    //  position: absolute;
    // top:0%; 
    width:89.3em;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 17px;
    padding:1em;
    width:89em;
    margin:0 auto;
    font-weight: 600;
}

#submit:hover{
    background:#4d8eff;
    color:#FFF;   
    cursor: pointer;
    transition-delay: 0.1s;
    transition: 0.5s;
}
