
.gallery2{
    position: absolute;
    top: 17%;
    animation: bounce 2s;

    background:#FDD7ED;
    margin:0 auto;
    max-width: 100%;
    padding:4em 4em;
    height: auto;
    margin-top:2em;
    display: grid;
    grid-template-columns:3fr 3fr 3fr  ;
    grid-template-rows: 300px;
    grid-gap: 50px;  
    align-content: space-between;




& img{
    border-radius: 2px;
    border:2px solid #000000;
    width:500px;
    max-width: 100%;
    height: auto;
}
& img:focus,
& img:hover{
    cursor: pointer;
    transition-delay: 0.1s;
    transition: 0.5s;
    opacity: 0.8;
    box-shadow: 6px -1px 5px 0px rgba(0,0,0,0.75);
}

& .footer4{
    
    // background:#ffff;
    color:#000;
    background:#FDD7ED;
    top:100%;
    position: absolute;
     width:83.5em;
    //  margin-left:2rem;
    text-align: center;
    letter-spacing: 0.3em;
    // font-size: 17px;
    padding:1em;
    
    font-weight: 600;
}
} 