@media(max-width:1600px){
    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;
        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:22%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 100%;
        // left:40%;
       width:80.3rem ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 20px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 95px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:45em;
        height: 30em;
        position: absolute;
        top:163%;
        left:50%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 2em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:240%;
        left:17%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:1000px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:370%;
    left:50%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:430%;
        display:column;
        width:30em;
      padding-top:5em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin:2em;
        font-size: 20px;
        color:#294066;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
    .img1 img{
    position: absolute;
    left:120%;
    
    height: auto;
    padding-top:7em;
    top:0%;
    }
    
    .extras a{
        position: absolute;
        left:10%;
        top:105%;
        line-height:2;
        padding:0.8em 2em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        // background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:560%;
        width:91em;
        padding:1em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
      
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 16px;
        /* align-items: center; */
        padding-top:1em;
        justify-content: space-between;
        // margin-bottom:8em;
        letter-spacing: 0.1em;
        margin-left:12.4em;
     
        
        
        
    }
    
    .header{
        
        display:flex;
        margin:1em 1rem 1rem 10em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        display:flex;
        flex:0 0 14em;
    
    }
    
    .nav li{
        display:flex;
        font-size:18px;
        padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    
    
    
    





}
    

    @media(max-width:640px){}
 










 



//Desktop//


//------------------------------------------------------------------------------------------------------------------------------//




//Desktop//


//-----------------------------------------------------------------------------------------------------------------------------//


@media(max-width:1920px){
    
        .board{
            width:80rem;
            /* height:150rem; */
            height: auto;
            margin:0 auto;
            
        
        
        
        .welcome1{
            background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
            position: absolute;
            background-size: cover;
            top:22%;
            text-transform: uppercase;
            // line-height: 1.3;
            // margin:0 auto;
            height: 100%;
            // left:40%;
           width:80.3rem ;
            
        
        }
        
        
        .welcome1:hover{
            
            transition-delay: 0.1s;
            transition: 0.5s;
        }
        
        
        
        
        .welcome1 p{
            
            text-align: center;
            font-size: 20px;
            color:#fff;
            /* padding:0.2em; */
            font-weight: 700;
            margin-top:0.3em;
            position: relative;
            top:20%;
            text-shadow: 4px 2px 1px #2A120B;
            left:1%;
            letter-spacing: 0.2em;  
        }
        .welcome1 h1{
            text-align: center;
            font-size: 95px;
            color:#fff;
            position: relative;
            top:23%;
            left:2%;
            text-shadow: 4px 2px 1px #2A120B;
        
            /* padding:0.2em; */
            font-weight: 800;
            margin-top:0.3em;
            letter-spacing: 0.3em;
        }
        
        .welcome1 a{
            position: absolute;
            top:75%;
            border:2px solid #fff;
            color:#fff;
            
            /* overflow: hidden; */
            padding:1em 3em;
            /* letter-spacing: 0.1em; */
            font-weight: 700;
            left:51%;
            opacity: 0.9;
            transform: translate(-50%,-50%); 
        }
        
        
        .welcome1 a:hover{
            opacity:1;
            background:#fff;
            color:var(--main-text-color);
            transition: 0.2s;
            transition-delay: 0.02s; 
            // font-weight: 800;
        }
        
        
        
        .history{
            width:45em;
            height: 30em;
            position: absolute;
            top:163%;
            left:50%;
            /* line-height: 1.3; */
            transform:translate(-50%,-50%);
            margin:0 auto;
            padding-top:4em;    
            text-align: center;
            padding-bottom: 5em;
        }
        
        .history h1{
            padding:0.1em;
            font-size: 50px;
            letter-spacing: 1;
            
        }
        
        .history p{
            padding:2em;
            line-height: 1.5;
            font-size: 21px;
            opacity:0.8;
            letter-spacing: 1;
        }
        
        .history a {
            /* margin:1em; */
            padding:1em 2em;
            background:var(--main-text-color);
            color:#fff;
            border-radius:3px;
            line-height: 3;
            font-weight: 600;
            font-size: 17px;
        }
        
        .history a:hover{
            color:#4d8eff;
            border:1px solid var(--main-text-color);
            background:#fff;
            font-weight: 600;
            transition-delay: 0.1s;
            transition: 0.5s;
        }
        
        
        .pic1{
            top:240%;
            left:17%;
            position: absolute;
        }
        
        
        .pic1 img{
            position: relative;
            width:1000px;
            height: auto;
            
        
        }
        
        
        
        .deluxe{
        position: absolute;
        text-align: center;
        width:40em;
        top:370%;
        left:50%;
        padding-top:6em;
        height: 15em;
        line-height: 1.5;
        transform: translate(-50%,-50%);
        
        
        }
        
        .deluxe h1{
            font-size: 45px;
            letter-spacing: 0.2em;
            line-height: 1.5;
            padding:0.5em;
        
        }
        
        .deluxe h1:after{
            
                content: '';
                position: absolute;
                width: 3em;
                display: block;
                left:50%;
                transform:translate(-50%,-50%);
                height: 3px;
                background-color:red;
               top:85%;
              }
        
        
        .deluxe p{
        margin:0.4em;
        margin-top:1em;
        padding:1em;
        letter-spacing: 0.1em;
        font-size: 21px;
        opacity: 0.8;
        
        
        }
        
        .extras{
            position:absolute;
            top:430%;
            display:column;
            width:30em;
          padding-top:5em;
            line-height: 1.5;
           
        
        }
        
        .extras h2:nth-child(1){
            color:red;
        }
        
        
        .extras h2{
            letter-spacing: 0.2em;
            padding:0.5em;
            color:#294066;
        }
        
        .extras p{
            padding:0.5em;
            opacity: 0.8;
            /* color:#294066; */
        }
        
        .extras li{
            margin:2em;
            font-size: 20px;
            color:#294066;
            /* list-style: none; */
            letter-spacing: 0.1em;
        }
        
        .img1 img{
        position: absolute;
        left:120%;
        
        height: auto;
        padding-top:7em;
        top:0%;
        }
        
        .extras a{
            position: absolute;
            left:10%;
            top:105%;
            line-height:2;
            padding:0.8em 2em;
            background:#1B74EC;
            color:#fff;
            font-weight: 600;
        }
        
        .extras a:hover{
            color:#4d8eff;
            border:1px solid var(--main-text-color);
            background:#fff;
            font-weight: 600;
         
            transition-delay: 0.1s;
            transition: 0.5s;
        }
        }
        .footer1{
            
            // background:#4d8eff;
            
            // font-size:18px;
            position: absolute;
            // width:90.5em;
            text-align: center;
            top:560%;
            width:91em;
            padding:1em;
            // margin-left:2em;
            
            // background:var(--main-text-color);
            color:#000;
              
            
        
            letter-spacing: 0.3em;
        }
        
    
        .header h1{
            text-shadow: 2px 1px 2px var(--main-text-color);
            letter-spacing: 0.3em;
            font-size: 45px;
          
        }
        
        .header  a {
        color:#4d8eff;
        
        }
        
        
        
        
        .nav {
            display:flex;
            font-size: 16px;
            /* align-items: center; */
            padding-top:1em;
            justify-content: space-between;
            // margin-bottom:8em;
            letter-spacing: 0.1em;
            margin-left:12.4em;
         
            
            
            
        }
        
        .header{
            
            display:flex;
            margin:1em 1rem 1rem 10em;
            color:#369;
            background:#fff;
            align-items: center;
        
            
        }
        
        
        
        .nav ul{
            display:flex;
            flex:0 0 13em;
        
        }
        
        .nav li{
            display:flex;
            font-size:18px;
            padding-left:0.3em;
            font-weight: 600;
           
            
        }
        
        .nav a{
            display:block;
            color:#4d8eff;
            padding:0.7em 1.5em;
        }
        
        a{
            text-decoration: none;
        }
        
        nav a:hover{
            background:var(--main-text-color);
            transition: 0.2s ease-in-out;
            color:#fff;
            padding:0.7em 1.5em;
            border:1px transparent #4d8eff;
            border-radius: 5px;
        }
        
}





@media(max-width:1024px){

    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;
        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:22%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 100%;
        // left:40%;
       width:63rem ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 20px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 95px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:45em;
        height: 30em;
        position: absolute;
        top:163%;
        left:50%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 2em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:240%;
        left:5%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:900px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:330%;
    left:50%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:400%;
        display:column;
        width:20em;
      padding-top:5em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin:2em;
        font-size: 20px;
        color:#294066;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
    .img1 img{
    position: absolute;
    left:120%;
    width:600px;
    height: auto;
    padding-top:7em;
    top:0%;
    }
    
    .extras a{
        position: absolute;
        left:10%;
        top:105%;
        line-height:2;
        padding:0.8em 2em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        // background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:510%;
        width:50em;
        padding:1em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
      
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 15px;
        /* align-items: center; */
        padding-top:1em;
        justify-content: space-between;
        // margin-bottom:8em;
        letter-spacing: 0.1em;
        margin-left:10.4em;
     
        
        
        
    }
    
    .header{
        
        display:flex;
        margin:1em 1rem 1rem 1em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        display:flex;
        flex:0 0 5em;
    
    }
    
    .nav li{
        display:flex;
        font-size:18px;
        // padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    

}




//----------------------------------------------------------------------------------------------------------------------//
//TABLET//
//---------------------------------------------------------------------------------------------------------------------//


@media(max-width:960px)
{
    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;
        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:22%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 100%;
        // left:40%;
       width:63rem ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 20px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 95px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:45em;
        height: 30em;
        position: absolute;
        top:163%;
        left:50%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 2em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:240%;
        left:5%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:900px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:330%;
    left:50%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:400%;
        display:column;
        width:20em;
      padding-top:5em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin:2em;
        font-size: 20px;
        color:#294066;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
    .img1 img{
    position: absolute;
    left:120%;
    width:600px;
    height: auto;
    padding-top:7em;
    top:0%;
    }
    
    .extras a{
        position: absolute;
        left:10%;
        top:105%;
        line-height:2;
        padding:0.8em 2em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        // background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:550%;
        width:50em;
        padding:1em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
      
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 15px;
        /* align-items: center; */
        padding-top:1em;
        justify-content: space-between;
        // margin-bottom:8em;
        letter-spacing: 0.1em;
        margin-left:10.4em;
     
        
        
        
    }
    
    .header{
        
        display:flex;
        margin:1em 1rem 1rem 1em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        display:flex;
        flex:0 0 5em;
    
    }
    
    .nav li{
        display:flex;
        font-size:18px;
        // padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    

}


//-------------------------------------------------------------------------------------------------------------------------//
//768///

//-----------------------------------------------------------------------------------------------------------------------//







@media(max-width:768px){

    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;
        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:22%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 100%;
        // left:40%;
       width:92rem ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 20px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 95px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:45em;
        height: 30em;
        position: absolute;
        top:163%;
        left:95%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 2em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:240%;
        left:35%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:900px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:330%;
    left:91%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:400%;
        display:column;
        width:20em;
        left:40%;
      padding-top:5em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin:2em;
        font-size: 20px;
        color:#294066;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
    .img1 img{
    position: absolute;
    left:120%;
    width:600px;
    height: auto;
    padding-top:7em;
    top:0%;
    }
    
    .extras a{
        position: absolute;
        left:10%;
        top:105%;
        line-height:2;
        padding:0.8em 2em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        // background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:510%;
        width:60em;
        padding:1em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
      
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 15px;
        /* align-items: center; */
        padding-top:1em;
        justify-content: space-between;
        // margin-bottom:8em;
        letter-spacing: 0.1em;
        margin-left:10.4em;
     
        
        
        
    }
    
    .header{
        
        display:flex;
        margin:1em 1rem 1rem 1em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        display:flex;
        flex:0 0 5em;
    
    }
    
    .nav li{
        display:flex;
        font-size:18px;
        // padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    

}


//-------------------------------------------------------------------------------------------------------------------------//
//640//
//-------------------------------------------------------------------------------------------------------------------------//


@media(max-width:640px){
    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;

        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:135%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 50em;
        // left:40%;
       width:85.5em ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 17px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 50px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:35em;
        height: 30em;
        position: absolute;
        top:290%;
        left:107%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 3em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:380%;
        left:35%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:900px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:500%;
    left:105%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:700%;
        left:50%;
         flex-direction:column;
        width:35em;
      padding-top:2em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
        padding:1em;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin-top:7em;
        font-size: 20px;
        color:#294066;
        position: relative;
        left:40%;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
     .img1 img{
     position: absolute;
     left:-5%;
     width:750px;
     height: auto;
     padding-top:7em;
     top:-70%;
     }
    
    .extras a{
        position: absolute;
        left:45%;
        top:105%;
        line-height:2;
        padding:0.8em 4em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        //  background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:930%;
        width:50em;
        padding:2em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
        margin-left:1.4em;
        margin-bottom: 0.5em;
    
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 17px;
        // padding-top:1em;
        flex-direction: column;
        letter-spacing: 0.1em;
        
     
        
        
        
    }
    
    .header{
        flex-direction: column;
        
        display:flex;
        margin:1em 1rem 1rem 24em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        // padding-right:20em;
        display:flex;
        // flex:0 0 5em;
    
    }
    
    .nav li{
        margin-right:5em;
        display:flex;
        font-size:23px;
        // padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    

}

    


    //---------------------------------------------------------------------------------------------------------------------//
    //---------------------------------------------------------------------------------------------------------------------//


    


@media(max-width:480px){
    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;

        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:135%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 50em;
        // left:40%;
       width:85.5em ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 17px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 50px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:35em;
        height: 30em;
        position: absolute;
        top:290%;
        left:177%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 3em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:380%;
        left:60%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:900px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:500%;
    left:170%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:700%;
        left:70%;
         flex-direction:column;
        width:35em;
      padding-top:2em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
        padding:1em;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin-top:7em;
        font-size: 20px;
        color:#294066;
        position: relative;
        left:40%;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
     .img1 img{
     position: absolute;
     left:-5%;
     width:750px;
     height: auto;
     padding-top:7em;
     top:-70%;
     }
    
    .extras a{
        position: absolute;
        left:45%;
        top:105%;
        line-height:2;
        padding:0.8em 4em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        //  background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:930%;
        width:50em;
        padding:2em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
        margin-left:1.4em;
        margin-bottom: 0.5em;
    
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 17px;
        // padding-top:1em;
        flex-direction: column;
        letter-spacing: 0.1em;
        
     
        
        
        
    }
    
    .header{
        flex-direction: column;
        
        display:flex;
        margin:1em 1rem 1rem 24em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        // padding-right:20em;
        display:flex;
        // flex:0 0 5em;
    
    }
    
    .nav li{
        margin-right:5em;
        display:flex;
        font-size:23px;
        // padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    

}



//------------------------------------------------------------------------------------------------------------------------//
//320//
//------------------------------------------------------------------------------------------------------------------------//

@media(max-width:320px){
    .board{
        width:80rem;
        /* height:150rem; */
        height: auto;
        margin:0 auto;
        
    
    
    
    .welcome1{
        background: linear-gradient( #2d3c4e, transparent),url('../banner1.jpg') center;
        position: absolute;
        background-size: cover;
        top:125%;
        text-transform: uppercase;
        // line-height: 1.3;
        // margin:0 auto;
        height: 30em;
        // left:40%;
       width:50em ;
        
    
    }
    
    
    .welcome1:hover{
        
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    
    
    .welcome1 p{
        
        text-align: center;
        font-size: 17px;
        color:#fff;
        /* padding:0.2em; */
        font-weight: 700;
        margin-top:0.3em;
        position: relative;
        top:20%;
        text-shadow: 4px 2px 1px #2A120B;
        left:1%;
        letter-spacing: 0.2em;  
    }
    .welcome1 h1{
        text-align: center;
        font-size: 50px;
        color:#fff;
        position: relative;
        top:23%;
        left:2%;
        text-shadow: 4px 2px 1px #2A120B;
    
        /* padding:0.2em; */
        font-weight: 800;
        margin-top:0.3em;
        letter-spacing: 0.3em;
    }
    
    .welcome1 a{
        position: absolute;
        top:75%;
        border:2px solid #fff;
        color:#fff;
        
        /* overflow: hidden; */
        padding:1em 3em;
        /* letter-spacing: 0.1em; */
        font-weight: 700;
        left:51%;
        opacity: 0.9;
        transform: translate(-50%,-50%); 
    }
    
    
    .welcome1 a:hover{
        opacity:1;
        background:#fff;
        color:var(--main-text-color);
        transition: 0.2s;
        transition-delay: 0.02s; 
        // font-weight: 800;
    }
    
    
    
    .history{
        width:35em;
        height: 30em;
        position: absolute;
        top:260%;
        left:120%;
        /* line-height: 1.3; */
        transform:translate(-50%,-50%);
        margin:0 auto;
        padding-top:4em;    
        text-align: center;
        padding-bottom: 5em;
    }
    
    .history h1{
        padding:0.1em;
        font-size: 50px;
        letter-spacing: 1;
        
    }
    
    .history p{
        padding:2em;
        line-height: 1.5;
        font-size: 21px;
        opacity:0.8;
        letter-spacing: 1;
    }
    
    .history a {
        /* margin:1em; */
        padding:1em 2em;
        background:var(--main-text-color);
        color:#fff;
        border-radius:3px;
        line-height: 3;
        font-weight: 600;
        font-size: 17px;
    }
    
    .history a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    
    
    .pic1{
        top:360%;
        left:10%;
        position: absolute;
    }
    
    
    .pic1 img{
        position: relative;
        width:700px;
        height: auto;
        
    
    }
    
    
    
    .deluxe{
    position: absolute;
    text-align: center;
    width:40em;
    top:480%;
    left:120%;
    padding-top:6em;
    height: 15em;
    line-height: 1.5;
    transform: translate(-50%,-50%);
    
    
    }
    
    .deluxe h1{
        font-size: 45px;
        letter-spacing: 0.2em;
        line-height: 1.5;
        padding:0.5em;
    
    }
    
    .deluxe h1:after{
        
            content: '';
            position: absolute;
            width: 3em;
            display: block;
            left:50%;
            transform:translate(-50%,-50%);
            height: 3px;
            background-color:red;
           top:85%;
          }
    
    
    .deluxe p{
    margin:0.4em;
    margin-top:1em;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 21px;
    opacity: 0.8;
    
    
    }
    
    .extras{
        position:absolute;
        top:680%;
        left:30%;
         flex-direction:column;
        width:25em;
      padding-top:2em;
        line-height: 1.5;
       
    
    }
    
    .extras h2:nth-child(1){
        color:red;
        padding:1em;
    }
    
    
    .extras h2{
        letter-spacing: 0.2em;
        padding:0.5em;
        color:#294066;
    }
    
    .extras p{
        padding:0.5em;
        opacity: 0.8;
        /* color:#294066; */
    }
    
    .extras li{
        margin-top:7em;
        font-size: 20px;
        color:#294066;
        /* list-style: none; */
        letter-spacing: 0.1em;
    }
    
     .img1 img{
     position: absolute;
     left:5%;
     width:550px;
     height: auto;
     padding-top:7em;
     top:-50%;
     }
    
    .extras a{
        position: absolute;
        left:10%;
        top:105%;
        line-height:2;
        padding:0.8em 2em;
        background:#1B74EC;
        color:#fff;
        font-weight: 600;
    }
    
    .extras a:hover{
        color:#4d8eff;
        border:1px solid var(--main-text-color);
        background:#fff;
        font-weight: 600;
     
        transition-delay: 0.1s;
        transition: 0.5s;
    }
    }
    .footer1{
        
        //  background:#4d8eff;
        
        // font-size:18px;
        position: absolute;
        // width:90.5em;
        text-align: center;
        top:1010%;
        width:50em;
        padding:2em;
        // margin-left:2em;
        
        // background:var(--main-text-color);
        color:#000;
          
        
    
        letter-spacing: 0.3em;
    }
    

    .header h1{
        text-shadow: 2px 1px 2px var(--main-text-color);
        letter-spacing: 0.3em;
        font-size: 45px;
        margin-left:1.4em;
        margin-bottom: 0.5em;
    
    }
    
    .header  a {
    color:#4d8eff;
    
    }
    
    
    
    
    .nav {
        display:flex;
        font-size: 17px;
        // padding-top:1em;
        flex-direction: column;
        letter-spacing: 0.1em;
        
     
        
        
        
    }
    
    .header{
        flex-direction: column;
        
        display:flex;
        margin:1em 1rem 1rem 24em;
        color:#369;
        background:#fff;
        align-items: center;
    
        
    }
    
    
    
    .nav ul{
        // padding-right:20em;
        display:flex;
        // flex:0 0 5em;
    
    }
    
    .nav li{
        margin-right:5em;
        display:flex;
        font-size:18px;
        // padding-left:0.3em;
        font-weight: 600;
       
        
    }
    
    .nav a{
        display:block;
        color:#4d8eff;
        padding:0.7em 1.5em;
    }
    
    a{
        text-decoration: none;
    }
    
    nav a:hover{
        background:var(--main-text-color);
        transition: 0.2s ease-in-out;
        color:#fff;
        padding:0.7em 1.5em;
        border:1px transparent #4d8eff;
        border-radius: 5px;
    }
    

}
   
    
