
.header h1{
    text-shadow: 2px 1px 2px var(--main-text-color);
    letter-spacing: 0.3em;
    font-size: 45px;
  
}

.header  a {
    color:#4d8eff;

}




.nav {
    display:flex;
    /* align-items: center; */
    padding-top:1em;
    // justify-content: space-between;
    // margin-bottom:8em;
    letter-spacing: 0.1em;
    // margin-left:12.4em;
    
 
    
    
    
}

.header{
    animation: bounce 2s;
    display:flex;
    // margin:1.7em 1rem 1rem 6em;
    color:#369;
    // margin-left:1em;
    background:#fff;
    align-items: center;
    // width:40em;

    
}



.nav ul{

    // padding-right: 3em;
    left:-10%;
    display:flex;
    // flex:0 0 10em;
    animation-duration: 2s;
    animation-name: bounce;

}

.nav li{
    
    display:flex;
    color:#4d8eff;
    // padding-left:0.3em;
    font-weight: 600;
    // margin-right:5em;
   
    
}

.nav a{
    display:block;
    color:#4d8eff;
    padding:0.7em 1.5em;
}

a{
    text-decoration: none;
}

 nav a:hover{
     background:var(--main-text-color);
     transition: 0.2s ease-in-out;
     color:#fff;
     padding:0.7em 1.5em;
     border:1px transparent #4d8eff;
     
     
 }

 


 