
.header h1{
    text-shadow: 2px 1px 2px var(--main-text-color);
    letter-spacing: 0.3em;
    font-size: 48px;
  
}

.header  a {
color:#4d8eff;

}

.header p{
    width:12em;
    color:var(--main-text-color);
    font-family: 'Satisfy', cursive;
    letter-spacing: 0.3em;
    font-size: 13px;
    position: absolute;
    top:11.5%;
    left:16%;
    text-shadow: 1px 0px 0px var(--main-text-color);

}


.nav {
    display:flex;
    font-size: 18px;
    /* align-items: center; */
    padding-top:1em;
    justify-content: space-between;
    // margin-bottom:8em;
    letter-spacing: 0.1em;
    margin-left:15.2em;
 
    
    
    
}

.header{
    max-width:75em;
    display:flex;
    margin:1rem 2rem;
    color:#369;
    background:#fff;
    align-items: center;

    
}



.nav ul{
    display:flex;
    flex:0 0 10em;

}

.nav li{
    display:flex;
    font-size:18px;
    padding-left:0.3em;
    font-weight: 600;
   
    
}

.nav a{
    display:block;
    color:#4d8eff;
    padding:0.7em 1.5em;
}

a{
    text-decoration: none;
}

nav a:hover{
    background:var(--main-text-color);
    transition: 0.2s ease-in-out;
    color:#fff;
    padding:0.7em 1.5em;
    border:1px transparent #4d8eff;
    border-radius: 5px;
}



