@import 'typography';
@import 'navigation';
@import 'main';
@import 'about';
@import 'contacts';
@import 'blog';
@import 'gallery';
@import 'media-main';
@import 'variables';
@import 'about-media';
@import 'contacts-media';
@import 'blog-media';
@import 'mixins';
@import 'animations';

*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;}

   